.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  line-height: 0;
}
.intro a {
  display: block;
  position: relative;
  z-index: 2;
}
.intro a svg {
  display: block;
}
.intro a + svg {
  margin-top: -340px;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.intro svg + svg {
  transform: none;
}
svg path {
  fill: transparent;
  stroke: #499dde;
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 60;
  animation: textAnimation 4s ease-in-out 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  90% {
    fill: #7ac0f6;
  }
  100% {
    fill: #58a3de;
    stroke-dashoffset: 0;
  }
}
